<nav>
    <ul>
        <li><a style="color: black;" href="/">Home</a></li>
        <li><a style="color: black;" href="/student/login">Student Login</a></li>
        <li><a style="color: black;" href="/teacher/login">Teacher Login</a></li>
        <li><a style="color: black;" href="/admin">Admin</a></li>
    </ul>
</nav>
